.img_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_box img{
    width: 270px;
    height: 255px;
    object-fit:cover;
    border-radius: 10px;
    cursor: pointer;
}

img:active{
    transform: scale(0.97);
}