@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Archivo';
}
html,body{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: azure;
}

.img_contener{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  gap:1.7vw;
  padding: 20px;
}

.buttons{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2vw;
}

.buttons button{
  padding: 6px 11px;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  background-color: rgb(255, 208, 0);
  cursor: pointer;
}

button:active{
  transform: scale(0.95);
}

.button1{
  opacity: 0;
}

.loading{
  font-size: 22px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: rgba(211, 215, 215, 0.871);
}